fastapi[all]
uvicorn[standard]
boto3
chromadb
langchain
langchain-community
langchain-aws
sqlalchemy
python-dotenv
pydantic
pydantic-settings
pypdf
python-docx
sentence-transformers
numpy
lxml
beautifulsoup4
opensearch-py>=2.3.0
